---
- name: "Create Homey Assistant Restore Image"
  hosts: image
  vars:
    ansible_python_interpreter: auto_silent
  gather_facts: false
  roles:
    - role: homey_fixes
      tags: ['homey']
    - role: serial_getty
      tags: ['console']
    - role: os_upgrade
      tags: ['upgrade']
    - role: home_assistant
      tags: ['ha']
